services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certificates:/etc/letsencrypt # This is where your SSL certs are stored
      - ./nginx/html:/var/www/html # Directory to serve .well-known for Certbot
    networks:
      - my_network
    restart: always
    depends_on:
      - shaw-family

  shaw-family:
    image: shaw-familly
    container_name: shaw-family
    build:
      context: ./shaw-family
    networks:
      - my_network
    ports:
      - "3000:3000"
    expose:
      - "3000"
    restart: always

  jonshaw199:
    image: jonshaw199
    container_name: jonshaw199
    build:
      context: ./jonshaw199
    networks:
      - my_network
    ports:
      - "3001:3001"
    expose:
      - "3001"
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certificates:/etc/letsencrypt
      - ./nginx/html:/var/www/html
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - my_network

networks:
  my_network:
    driver: bridge
